.footer{
    position: fixed;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    background-color: #1b1b1b;
    width: 100%;
    /* z-index: -100; */
}

.footer h5 {
    margin: 0;
}

.contCredits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.contLink{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 10%;
}

@media (max-width: 800px) {
    .contCredits {
        width: 75%;
    }
    .contLink{
        width: 25%;
    }
  }
